---
layout: default
title: Portfolio
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
</head>
<body>
    <header>
        <h1>My Portfolio</h1>
        <p>Welcome to my portfolio. Here is a list of the projects I have worked on:</p>
    </header>
    <section>
            <!-- for loop here to display project info -->
            {% for project in site.data.projects %}
                <div>
                <button class="collapsible">{{ project.name }}</button>
                <div class="content">
                <p>{{ project.description }}</p>
                <!-- Optionally display an image if the URL is provided -->
                {% if project.image_url %}
                <img src="{{ project.image_url }}" alt="Image for {{ project.name }}" style="width: 100%; max-width: 750px;"><br>
                {% endif %}
                <a href="{{ project.link }}">Learn more</a>
                </div></div>
            {% endfor %}
    </section>


    <script>
        // javascript for collapsible button
        var coll = document.getElementsByClassName("collapsible");
        var i;
    
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
</body>
</html>
