/*global style*/
body {
    background-color: #001120; /* Northern-Lights-Beach-1-hex */
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    margin-top: 50px;
    margin-left:auto;
    margin:auto;
    width:95%;
    padding-left:100px;
    text-align: center;
    color: #fff;
}

/* table formatting */
th, td {
    padding: 10px;
    text-align: center;
}


/* ------------------------STYLING THE CONTACT PAGE ------------------------*/
/* Social Media Section Styles */
#social-media {
    text-align: center;
    margin-bottom: 20px;
}

.social-button {
    /* Generic button styles */
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Specific styles for each social media platform */
.facebook { background-color:  #025939; }
.twitter { background-color: #027333; }
.instagram { background-color: #03A63C; }
.linkedin { background-color: #03A63C; }


.social-button:hover {
    opacity: 0.9;
}


.links a {
        margin: 10px;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 10px 20px;
        border-radius: 20px;
    }




    .table-centered {
        margin-left: auto;
        margin-right: auto;
    }


/*collapsible tab*/
.collapsible {
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
    background-color: #f1f1f1;
}

/* ------------------------Color Theme Swatches in Hex------------------------ */
.Northern-Lights-Beach-1-hex { color: #001120; }
.Northern-Lights-Beach-2-hex { color: #025939; }
.Northern-Lights-Beach-3-hex { color: #027333; }
.Northern-Lights-Beach-4-hex { color: #03A63C; }
.Northern-Lights-Beach-5-hex { color: #04D939; }