<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>{{ page.title }} | {{ site.title }}</title>
</head>
<body>
    <header>
<!--        this is the menu bar, it's on every page of the website-->
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/about.html' | relative_url }}">About</a></li>
                <li><a href="{{ '/portfolio.html' | relative_url }}">Portfolio</a></li>
                <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>Copyright © {{ "now" | date: "%Y" }} {{ site.author.name }}</p>
    </footer>
</body>
</html>
