<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="icon" type="image/png" href="favicon1.jpg">
    <title>{{ page.title }} | {{ site.title }}</title>
</head>
<body>
    <header>
<!--        this is the menu bar, it's on every page of the website-->
        <div class="tab">
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/about.html' | relative_url }}">About</a>
            <a href="{{ '/portfolio.html' | relative_url }}">Portfolio</a>
            <a href="{{ '/contact.html' | relative_url }}">Contact</a>
        </div>

    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>Copyright © {{ "now" | date: "%Y" }} {{ site.author.name }}</p>
    </footer>
</body>
</html>
